@*Recupero el viewbag*@

<h1>@ViewBag.Titulo</h1>
<h2>@ViewBag.Subtitulo</h2>

@*creo una tabla para mostrar mis camiones*@

<table class="table table-bordered table-striped table-striped-columns table-responsive">
    <thead>
        <tr>
            <th scoope="col">ID_Camion</th>
            <th scoope="col">Matricula</th>
            <th scoope="col">Tipo_Camion</th>
            <th scoope="col">Marca</th>
            <th scoope="col">Modelo</th>
            <th scoope="col">Capacidad</th>
            <th scoope="col">Kilometraje</th>
            <th scoope="col">UrlFoto</th>
            <th scoope="col">Disponibilidad</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var camion in Model)
        {
            <tr>
                <td>@camion.ID_Camion</td>
                <td>@camion.Matricula</td>
                <td>@camion.Tipo_Camion</td>
                <td>@camion.Marca</td>
                <td>@camion.Modelo</td>
                <td>@camion.Capacidad</td>
                <td>@camion.Kilometraje</td>
                <td>@camion.UrlFoto</td>
                <td>@camion.Disponibilidad</td>
            </tr>
        }

    </tbody>
</table>

<div class="row">
    <div class="col-md-2" syle="text-align:right;">
        <a href="~/Camiones/Nuevo_Camion" class="btn btn-primary">Nuevo camion</a>
    </div>
</div>

<div class="col-md-12 row text-center">
    @foreach (var camion in Model)
    {

        @*//tarjeta del bosstrap*@

        <div class="col-md-3 col-sm-12">

            <div class="card" style="width: 18rem;">
                <img src="@camion.UrlFoto" class="card-img-top" alt="@camion.UrlFoto">
                <div class="card-body">
                    <h2 class="card-title">Camion No. @camion.ID_Camion</h2>
                    <h5 class="card-title">@camion.Matricula</h5>
                    <ul>
                        <li class="card-text">@camion.Capacidad</li>
                        <li class="card-text">@camion.Tipo_Camion</li>
                        <li class="card-text">@camion.Marca</li>
                        <li class="card-text">@camion.Modelo</li>
                        <li class="card-text">@camion.Kilometraje</li>
                        <li class="card-text">@camion.Disponibilidad</li>
                    </ul>

                    <a class="btn btn-warning" href="~/Camiones/Editar_Camion/@camion.ID_Camion">Editar</a>
                    <a class="btn btn-danger" href="~/Camiones/Confirmar_Eliminar/@camion.ID_Camion">Eliminar</a>
                </div>
            </div>
        </div>
    }
</div>